html{
  font-size: 62.5%;
  height: 100%;
  background-color: #ebec8c;
}
body{
  height: 100%
}
.title{
  font-size: 5em;
  text-align: center;
  background-color: #1d0cb3;
  color: #eee;
}
.container{
  margin: auto;
  min-height: 100%;
  position: relative;
}
.content{
  width: 700px;
  float: left;
}
nav {
  text-align: center;
}
.exam_prof {
  width: 250px;
  float: left;
  margin-right: 20px;
}
.wrapper{
  margin: 50px;
}
.sub_tittle{
 text-align: center;
 font-size: 4rem;
 color: #ce2c2c;
}
th {
  width: 230px;
  height: 46px;
  font-size: 2.2rem;
  text-align: left;
}
td {
  font-size: 1.4rem;
}
.main_contents{
 float: left;
}
section {
  float: left;
  margin: 15px;
}
.q {
  font-size: 2rem;
}
.a {
  font-size: 1.4rem;
}
.space {
  float: right;
  background-color: #efb6d0b8;
  width: 34rem;
  height: 55rem;
}
.rank_title {
  font-size: 2.8em;
  text-align: center;
  color: #2f583c;
}
li {
  font-size: 1.8rem;
  margin: 1rem;
}
.more {
  text-align: center;
}

.footer{
  background-color: #4D4D4D;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
